<!DOCTYPE html>
	<html>
		<head>
			<title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
		</head>
		<body>
			<h1>Help</h1>
			<p>
				Get help on Ruby on Rails Tutorial at the 
				<a href="http://railstutorial.org/help">Ruby on Rails help page</a>
				To get help on the sample app, see the
				with <a href="http://railstutorial.org/book">Ruby Tutorial book</a>.
			</p>
		</body>
	</html>
